
    
    <div class= "row mb-5" th:fragment="top"> <!--fragment thymeleaf-->
        <div class="col-0 col-lg-4"></div>

        <div class="col-lg-8 col-12">
            <ul class="list-group"> <!--Menu-->
                <li class="list-group-item"><a href="/">Accueil</a></li>
                <li class="list-group-item"><a href="/musicien">Recherche de groupe</a></li>
                <li class="list-group-item"><a href="/groupe">Dépôt d'annonce</a></li>
                <li class="list-group-item"><a href="#">Contacts</a></li>
            </ul>
        </div>
    </div>
